*{
    padding: 0;
    margin: 0;
}

.tema-pag{
    background-color: red;
    width: 200px;
    height: 50px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Parte da mudança de tema*/
.form-check{

}

/*Parte do login*/

.login-box{
    background-color: red;
    width: 603px;
    height: 200px;
}